.glownaLoguj{
	background-color: #FFEA9C !important;
}
.rejestracja_form{
	height: 400px;
    width: 800px;
    position: fixed;
    top:  50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -400px;
}