<<<<<<< HEAD
.glownaLoguj{
	width: 200px;
	height: 150px;
	background-color: #f1f1e0;
}
.rejestracja_form{
	height: 400px;
    width: 800px;
    position: fixed;
    top:  50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -400px;
=======
.glownaLoguj{
	width:100px;
	height:100px:
	background-color: #f00;
>>>>>>> a7a62e6566ac6206f7b5a628a5ee6de6eff1131a
}